[Unit]
Description=Portal service (GNOME implementation)

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.gnome
ExecStart=/usr/libexec/xdg-desktop-portal-gnome
